Repository googa27/finite_difference_options: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, pytest, eslint, prettier

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pytest:
  name: pytest
  entry: pytest
  language: system

eslint:
  name: eslint
  entry: eslint --config nextjs-client/eslint.config.js nextjs-client
  language: node
  pass_filenames: false
  additional_dependencies:
  - eslint

prettier:
  name: prettier
  entry: prettier --check
  language: node
  additional_dependencies:
  - prettier

cleanup: Remove obsolete standalone Python files
  .agent_workspace/plans/structural_cleanup_and_stabilization.md
  debug_test.py
  test_comprehensive_refactored_structure.py
  test_refactored_structure.py
Due: black, ruff, mypy, pytest

fix: Remove abstractproperty from maturity in UnifiedInstrument and make it a regular field
  src/pricing/instruments/base.py
  src/pricing/instruments/options.py
Due: black, ruff, mypy, pytest

cleanup: Remove obsolete standalone Python files
  generate_readme_image.py
  test_greeks_refactor.py
  test_payoff_refactor.py
  test_solver_refactor.py
Due: black, ruff, mypy, pytest

cleanup: Remove obsolete directories (nextjs-client, .crush, apps, examples, .gemini)
  .gemini/COMMANDS.md
  .gemini/GEMINI.md
  apps/streamlit_app.py
  examples/heston_demo.py
  nextjs-client/eslint.config.js
  nextjs-client/package.json
  nextjs-client/pages/index.js
Due: black, ruff, mypy, pytest, eslint, prettier

cleanup: Remove obsolete multidimensional tests
  tests/test_multidimensional/__init__.py
  tests/test_multidimensional/test_boundary_conditions.py
  tests/test_multidimensional/test_pricing_engine.py
  tests/test_multidimensional/test_processes.py
  tests/test_multidimensional/test_solver.py
Due: black, ruff, mypy, pytest

added code review in agent workspace
  .agent_workspace/code_review/code_review_summary.md
  tests/test_interfaces.py
Due: black, ruff, mypy, pytest

refactor: reorganize greeks modules
  src/greeks.py
  src/greeks/__init__.py
  src/greeks/base.py
  src/greeks/finite_difference.py
  src/option_pricer.py
  tests/test_finite_difference_greeks.py
Due: black, ruff, mypy, pytest

Update src/greeks/finite_difference.py
  src/greeks/finite_difference.py
Due: black, ruff, mypy, pytest

refactor: unify exception package
  src/__init__.py
  src/exceptions.py
  src/exceptions/__init__.py
  src/greeks/base.py
  src/greeks/finite_difference.py
  src/instruments/base.py
  src/pricing/engines/unified.py
  src/pricing/instruments/options.py
  src/pricing/instruments/payoff_calculators.py
  src/pricing_engine.py
  src/processes/base.py
  src/solvers/adi.py
  src/solvers/base.py
  src/utils/covariance_utils.py
  src/utils/exceptions.py
  src/utils/process_validators.py
  src/utils/state_handling.py
  src/validation/validators.py
Due: black, ruff, mypy, pytest

added brief phrase to AGENTS.md about time stepping
  AGENTS.md
Due: none

refactor: relocate finite difference pricing engine
  src/__init__.py
  src/pricing/__init__.py
  src/pricing/engines/__init__.py
  src/pricing/engines/finite_difference.py
  tests/test_pricing_engine_imports.py
Due: black, ruff, mypy, pytest

refactor: move option pricer into pricing workflows
  api/main.py
  cli/main.py
  src/__init__.py
  src/greeks/finite_difference.py
  src/option_pricer.py
  src/pricing/__init__.py
  src/pricing/workflows/__init__.py
  src/pricing/workflows/option_pricer.py
  tests/test_callable_bond.py
  tests/test_greeks.py
  tests/test_option_pricer.py
  tests/test_option_pricer_result.py
Due: black, ruff, mypy, pytest

refactor: co-locate legacy pde models with engines
  src/__init__.py
  src/pde_pricer.py
  src/pricing/__init__.py
  src/pricing/engines/__init__.py
  src/pricing/engines/finite_difference.py
  tests/test_callable_bond.py
  tests/test_pde_pricer.py
Due: black, ruff, mypy, pytest

refactor: unify finite difference solver modules
  src/pde_solver.py
  src/pricing/engines/finite_difference.py
  src/pricing/workflows/option_pricer.py
  src/solvers/__init__.py
  src/solvers/base.py
  src/solvers/finite_difference.py
  src/time_steppers.py
  tests/test_pde_pricer.py
Due: black, ruff, mypy, pytest

refactor: move spatial operator into instruments package
  src/instruments/__init__.py
  src/instruments/base.py
  src/instruments/operators.py
  src/pricing/engines/finite_difference.py
  src/solvers/base.py
Due: black, ruff, mypy, pytest

refactor: relocate market model to models package
  src/market.py
  src/models/__init__.py
  src/models/market.py
  src/pricing/engines/finite_difference.py
  tests/test_callable_bond.py
Due: black, ruff, mypy, pytest

no
  noop
Due: none

revert: remove accidental placeholder file
  noop
Due: none

docs: rebase architecture audit
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/PRD.md
  docs/archive/AGENTS.pre-federated-audit-2026-06-26.md
Due: none

ci: restore finite difference PR checks
  .github/workflows/ci.yml
  docs/ARCHITECTURE.md
  requirements-dev.txt
Due: none

docs(architecture): define explicit FD problem and backend boundaries (#68)
  .github/workflows/ci.yml
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/PRD.md
  docs/archive/AGENTS.pre-federated-audit-2026-06-26.md
  requirements-dev.txt
Due: none

test: add FD architecture fitness gate
  .github/workflows/ci.yml
  docs/ARCHITECTURE.md
  pyproject.toml
  tests/architecture/test_architecture_contracts.py
Due: black, ruff, mypy, pytest

ci: trust Gemini review workspace in Actions
  .github/workflows/gemini-pr-review.yml
Due: none

ci: rerun Gemini review after PR updates
  .github/workflows/gemini-pr-review.yml
Due: none

test: resolve FD architecture import-review gap
  tests/architecture/test_architecture_contracts.py
Due: black, ruff, mypy, pytest

ci: pin Gemini review fallback model
  .github/workflows/gemini-pr-review.yml
Due: none

test: close FD app-boundary review gap
  tests/architecture/test_architecture_contracts.py
Due: black, ruff, mypy, pytest

test: ratchet FD architecture package baseline
  tests/architecture/test_architecture_contracts.py
Due: black, ruff, mypy, pytest

test: guard FD package initializer imports
  tests/architecture/test_architecture_contracts.py
Due: black, ruff, mypy, pytest

test: reject bare src imports in FD core gate
  tests/architecture/test_architecture_contracts.py
Due: black, ruff, mypy, pytest

test: add FD architecture fitness gate (#70)
  .github/workflows/ci.yml
  .github/workflows/gemini-pr-review.yml
  docs/ARCHITECTURE.md
  pyproject.toml
  tests/architecture/test_architecture_contracts.py
Due: black, ruff, mypy, pytest

fix(solvers): preserve process coefficients in ADI adapter
  .github/workflows/ci.yml
  docs/ARCHITECTURE.md
  src/solvers/base.py
  tests/test_multidimensional_adapter_coefficients.py
Due: black, ruff, mypy, pytest

fix(solvers): address ADI adapter review gates
  src/solvers/base.py
  tests/test_multidimensional_adapter_coefficients.py
Due: black, ruff, mypy, pytest

fix(solvers): preserve process coefficients in ADI adapter (#73)
  .github/workflows/ci.yml
  docs/ARCHITECTURE.md
  src/solvers/base.py
  tests/test_multidimensional_adapter_coefficients.py
Due: black, ruff, mypy, pytest

test: govern unified pricing engine baseline
  .github/workflows/ci.yml
  AGENTS.md
  docs/ARCHITECTURE.md
  src/pricing/engines/unified.py
  src/solvers/base.py
  tests/test_unified_pricing_engine.py
Due: black, ruff, mypy, pytest

fix: address unified baseline review findings
  src/pricing/engines/unified.py
  tests/test_unified_pricing_engine.py
Due: black, ruff, mypy, pytest

test: govern unified pricing engine baseline (#74)
  .github/workflows/ci.yml
  AGENTS.md
  docs/ARCHITECTURE.md
  src/pricing/engines/unified.py
  src/solvers/base.py
  tests/test_unified_pricing_engine.py
Due: black, ruff, mypy, pytest

ci: classify advisory automation failures
  .github/workflows/ci.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-pr-review.yml
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CI_POLICY.md
  docs/PROJECT_CONTEXT.md
  tests/architecture/test_ci_policy_contracts.py
Due: black, ruff, mypy, pytest

ci: classify advisory automation failures (#75)
  .github/workflows/ci.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-pr-review.yml
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CI_POLICY.md
  docs/PROJECT_CONTEXT.md
  tests/architecture/test_ci_policy_contracts.py
Due: black, ruff, mypy, pytest

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  eslint: any of: ^nextjs-client/
  prettier: any of: ^nextjs-client/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$
